{
  "singleQuote": true,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": ["*.astro"],
      "options": {
        "parser": "astro"
      }
    }
  ]
}
