@import "tailwindcss";
@plugin "@tailwindcss/typography";

@source not "../node_modules";
@source "../../node_modules/astro-boilerplate-components/dist/esm/**/*.js";
@source "../../node_modules/astro-boilerplate-components/dist/cjs/**/*.js";

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@utility max-w-screen-sm {
  max-width: var(--breakpoint-sm);
}

@utility max-w-screen-md {
  max-width: var(--breakpoint-md);
}

@utility max-w-screen-lg {
  max-width: var(--breakpoint-lg);
}

@utility max-w-screen-xl {
  max-width: var(--breakpoint-xl);
}

@utility max-w-screen-2xl {
  max-width: var(--breakpoint-2xl);
}
